doctype html
html(lang="en")
    head
        title Library Manager
        link(rel="stylesheet" href="/static/stylesheets/style.css")
    body
        h1 
            a(href="/books") Library Manager
        block content
            